<!DOCTYPE html>
<html lang="en">
<head>
    <title>fiftytwo/52</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A challenge site, debuting 52 projects completed in 52 days. 
        See my portfolio at www.kariminger.com.">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/sass/App.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__postNav--logoContainer">
                <svg class="header__postNav--logo">
                    <use xlink:href="/images/symbol-defs.svg#icon-fullLogo"></use>
                </svg>
            </div>
            <ul class="header__list">
                <li><a href="/#premise" class="header__list--link">the premise</a></li>
                <li><a href="/#projects" class="header__list--link">the projects</a></li>
                <li><a href="http://www.kariminger.com" class="header__list--link">the person</a></li>
            </ul>
        </nav>
    </header>
    <main class="edit">
        <h1 class="h1--lightweight">Edit Post</h1>
        <form class="edit__form" action="/posts/<%= post.id %>?_method=PUT" method="POST">
            <div class="edit__formLine">
                <input type="text" class="edit__field edit__field--week" value="<%= post.weekNumber %>" name="post[weekNumber]" placeholder="week number">
                <input type="text" class="edit__field edit__field--name" value="<%= post.projectName %>" name="post[projectName]" placeholder="project name">
            </div>
            <div class="edit__formLine">
                <input type="text" class="edit__field edit__field--github" value="<%= post.GithubURL %>" name="post[GithubURL]" placeholder="Github repo address">
                <input type="text" class="edit__field edit__field--url" value="<%= post.siteURL %>" name="post[siteURL]" placeholder="site address">
            </div>
            <textarea class="edit__field edit__field--paragraph" name="post[synopsis]" placeholder="synopsis"><%= post.synopsis %></textarea>
            <textarea class="edit__field edit__field--paragraph" name="post[process]" placeholder="the process"><%= post.processTxt %></textarea>
            <textarea class="edit__field edit__field--paragraph" name="post[challengesTxt]" placeholder="challenges"><%= post.challengesTxt %></textarea>
            <textarea class="edit__field edit__field--paragraph" name="post[takeawaysTxt]" placeholder="takeaways"><%= post.takeawaysTxt %></textarea>
            <div class="edit__formLine">
                <input type="text" class="edit__field edit__field--image" value="<%= post.imageName %>" name="post[imageName]" placeholder="image name">
                <input type="text" class="edit__field edit__field--name" value="<%= post.designURL %>" name="post[designURL]" placeholder="design image URL">
            </div>
            <input type="text" class="edit__field" value="<%= post.tech %>" name="post[tech]" placeholder="tech used">
            
            <button class="edit__button" type="submit">Submit</button>
        </form>
    </main>
</body>
</html>