<!DOCTYPE html>
<html lang="en">
<head>
    <title>fiftytwo/52</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A challenge site, debuting 52 projects completed in 52 days. 
        See my portfolio at www.kariminger.com.">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/sass/App.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__postNav--logoContainer">
                <svg class="header__postNav--logo">
                    <use xlink:href="/images/symbol-defs.svg#icon-fullLogo"></use>
                </svg>
            </div>
            <ul class="header__list">
                <li><a href="#premise" class="header__list--link">the premise</a></li>
                <li><a href="#projects" class="header__list--link">the projects</a></li>
                <li><a href="http://www.kariminger.com" class="header__list--link">the person</a></li>
            </ul>
        </nav>
        <div class="header__post">
            <img src="/images/<%= post.imageName %>.jpg" class="header__postImg" alt="project preview image">
            <div class="header__postNav">
                <h1 class="header__postNav--title">
                    <span class="h1--lightweight">Week <%= post.weekNumber %> - </span><%= post.projectName %>
                </h1>
                
                <div class="header__postNav--buttonContainer">
                    <a href="<%= post.siteURL %>" class="header__postNav--link"><button class="header__postNav--button">Site</button></a>
                    <a href="<%= post.GithubURL %>" class="header__postNav--link"><button class="header__postNav--button">Github</button></a>
                    <a href="/images/<%= post.designURL %>.jpg" class="header__postNav--link"><button class="header__postNav--button">Design</button></a>
                </div>
            </div>
        </div>
    </header>
    <main class="post">
        <h2 class="post__subheading">- technologies used -</h2>
        <ul class="post__list">
            <% post.tech.split(",").forEach(function(tech) { %>
                <li class="post__listitem"><%= tech %></li>
            <% }) %>
        </ul>
        <h2 class="post__subheading">- the process -</h2>
        <p class="post__blurb"><%= post.processTxt %></p>
        <h2 class="post__subheading">- challenges -</h2>
        <p class="post__blurb"><%= post.challengesTxt %></p classname="post__blurb">
    </main>
    <div class="post__takeaways">
        <h2 class="post__subheading">- takeaways -</h2>
        <p class="post__blurb"><%= post.takeawaysTxt %></p classname="post__blurb">
    </div>
</body>
</html>